{% load i18n fb_tags %}

<div class="breadcrumbs">
  {% if not query.pop %}
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a><span class="divider">&raquo;</span>
  {% endif %}

  {% if breadcrumbs or breadcrumbs_title %}
  <a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,filename,p" %}">{% trans 'FileBrowser' %}</a><span class="divider">&raquo;</span>
  {% else %}
  <span class="active">{% trans 'FileBrowser' %}</span>
  {% endif %}

  {% for item in breadcrumbs %}
    {% if not forloop.last or breadcrumbs_title %}
  <a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,filename,p" %}&amp;dir={{ item.1|urlencode }}">{{ item.0 }}</a><span class="divider">&raquo;</span>
    {% else %}
  <span class="active">{{ item.0 }}</a>
    {% endif %}
  {% endfor %}

  {% if breadcrumbs_title %}
  <span class="active">{{ breadcrumbs_title }}</span>
  {% endif %}
</div>
